<!-- eslint-disable vue/multi-word-component-names -->
<template>
    <div>
        About
    </div>
</template>

<script>

export default {
  name: 'JuejinAbout'
}
</script>

<style scoped>

</style>
