<template>
  <ul class="header">
    <li class="header__item">
      <router-link to="/">首页</router-link>
    </li>
    <li class="header__item">
      <router-link to="/pins">沸点</router-link>
    </li>
    <li class="header__item">
      <router-link to="/course">课程</router-link>
    </li>
    <li class="header__item">
      <router-link to="/live">直播</router-link>
    </li>
    <li class="header__item">
      <router-link to="/news">资讯</router-link>
    </li>
    <li class="header__item">
      <router-link to="/about">关于</router-link>
    </li>
  </ul>
</template>

<script>

export default {
  name: 'JuejinHeader',
  setup () {
    return {
    }
  }
}
</script>

<style scoped>
.header {
  display: flex;
  font-weight: 200;
  font-size: 1.5rem;
  background-color: white;
}

.router-link-active {
  color: blue;
}

.header__item {
  padding: 2rem;
  position: relative;
}

.header__item:hover::after {
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 0;
  background-color: blue;
  border: 1px solid blue;
}
</style>
