<template>
  <Header1></Header1>
  <router-view></router-view>
</template>

<script>
import Header1 from './components/Header.vue'
import './css/border.css'
import './css/reset.css'

export default {
  name: 'App',
  components: {
    Header1
  }
}
</script>

<style>
html{
  background-color: #F4F5F5;
  font-family: -apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial!important;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
}
</style>
